nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: midnightblue;
}


nav a {
  float: left;
  font-family: arial, helvetica, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

form {
  font-family: sans-serif;
  background-color: ivory;
  color: darkslateblue;
  border: 2px solid darkslateblue;
  padding: 25px;
  width: 20%;
}
