nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: midnightblue;
}


nav a {
  float: left;
  font-family: arial, helvetica, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

aside {
  width: 40%;
  float: right;
  padding: 5px;
  margin: 10px;
}

p {
	font-size: 20px;
	padding: 15px;
}

form {
    margin-left: 50px;
    font-family: sans-serif;
    background-color: ivory;
    color: darkslateblue;
    border: 2px solid darkslateblue;
    padding: 25px;
    width: 20%;
}

table {
	width: 100%;
	border: 1px solid;
	text-align: center;
	padding: 15px;

}

th {
	font-size: 35px;
	color: midnightblue;
	padding-bottom: 15px;
}

td {
	font-size: 20px;
	padding-bottom: 10px;
}

.title {
	color: midnightblue;
	text-align: left;
	font-size: 75px;
}
aside {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: midnightblue;
    overflow-x: hidden;
    padding-top: 20px;
}

aside p {
    font-family: arial, helvetica, sans-serif;
    color: #ffffff;
    font-size: 30px;
}

aside a {
    padding: 6px 8px 30px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

aside a:hover{
    background-color: #111
}

header, main, nav, footer {
    margin-right: 200px;
}

footer{
    width:100%;
    background-color: #afafaf;
}


