<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/style.css' %}">
</head>
<body>
<header>
    {% block header %}
        {% if request.user.is_authenticated %}
            <img src="{{ request.user.aluno.avatar }}">
            <strong>Bem-vindo: &nbsp; {{ user.get_username }} </strong>
        {% endif %}
        <img src="{% static 'votacao/images/iscte.png' %}" width="500" height="200" alt="Banner image">
        <nav>
            <ul>
                <li><a href="{% url 'votacao:index' %}">Página Inicial</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'votacao:logout' %}">Logout</a></li>
                    {% if not request.user.is_superuser %}
                        <li><a href="{% url 'votacao:info_pessoal' %}">Informação Pessoal </a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'votacao:login' %}">Login</a></li>
                    <li><a href="{% url 'votacao:registar' %}">Registar</a></li>
                {% endif %}
            </ul>
        </nav>
        </header>
    {% endblock %}
<main>
    {% block conteudo %}
        {% if latest_question_list %}
            <ul>
                {% for questao in latest_question_list %}
                    <li>
                        <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nao ha questoes disponiveis.</p>
        {% endif %}
        <br>
        {% if request.user.is_superuser %}
            <a href="{% url 'votacao:criarquestao' %}">
                <button type="button">Criar Questão</button>
            </a>
        {% endif %}
    {% endblock %}
</main>
</body>

</html>






