{% if request.user.is_authenticated %}
    <p><strong>User logged in: &nbsp; {{ user.get_username }} </strong></p>
    <a href="{%  url 'votacao:logout' %}"> <button type="button">Logout</button> </a>
    <a href="{%  url 'votacao:info_pessoal' %}"> <button type="button">Account Info</button> </a><br>
{% else %}
    <a href="{%  url 'votacao:login' %}"> <button type="button">Login</button> </a><br>
{% endif %}

{% if latest_question_list %}
<ul>
    {% for questao in latest_question_list %}
    <li>
        <a href= "{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}</a>
</li>
{% endfor %}

</ul>
{% else %}
    <p>Nao ha questoes disponiveis.</p>
{% endif %}
<br>
<a href="{%  url 'votacao:criarquestao' %}"> <button type="button">Criar Questão</button> </a><br><br>
