{% extends "./index.html" %}

{% block conteudo %}

    <h1> Info Pessoal</h1>

    <form method="post" enctype="multipart/form-data" action="{% url 'votacao:fazer_upload' %}">
        {% csrf_token %}
        <p><strong>Avatar: </strong></p>
        <img src="{{ request.user.aluno.avatar }}"><br><br>
        <input type="file" name="myfile">
        <input type="submit" value="Upload">
    </form>

    <p><strong>Username:</strong> &nbsp; {{ username }}</p>
    <p><strong>Email:</strong> &nbsp; {{ email }}</p>
    <p><strong>Data de registo: </strong>&nbsp; {{ data }}</p>
    <p><strong>Curso: </strong>&nbsp; {{ curso }}</p>
    <p><strong>Total Votos: </strong>&nbsp; {{ votos }}</p>

{% endblock %}