<h1>Login</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'votacao:autenticacao' %}" method="post">
    {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required = true/><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required = true/><br><br>
        <br>
    <input type="submit" value="Login"/>
</form>